@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded border border-thmBackgroundSubtle bg-thmBackgroundBright p-2 text-thmFg outline-none;
  }

  .input:focus-within {
    @apply ring ring-thmBright;
  }

  .input[data-error='true'] {
    @apply text-thmError ring-1 ring-thmError;
  }

  .input[data-error='true']:focus {
    @apply ring;
  }

  input:focus {
    outline: none;
  }

  /** checkbox */

  input[type='checkbox']::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    transform: scale(0);
    transition: 80ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(var(--color-bright));
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type='checkbox']:disabled::before {
    /*color: rgb(var(--color-backgroundBrightest));*/
    box-shadow: inset 1em 1em rgb(var(--color-backgroundBrightest));
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
}
